{%extends 'customer/basecus.html'%}{%block MyAccount_content %}{%load address%}

<div class="woocommerce-MyAccount-content">
  <div class="woocommerce-notices-wrapper"></div>
  <p>
    Các địa chỉ bên dưới mặc định sẽ được sử dụng ở trang thanh toán sản phẩm.
  </p>
  <div class="u-columns woocommerce-Addresses col2-set addresses">
    <div class="u-column1 col-1 woocommerce-Address">
      <header class="woocommerce-Address-title title">
        <div id="toc_container" class="no_bullets">
          <p class="toc_title">
            Nội dung trang
            <span class="toc_toggle">[<a href="#">Ẩn</a>]</span>
          </p>
          <ul class="toc_list">
            <li>
              <a href="#Dia_chi_thanh_toan"
                ><span class="toc_number toc_depth_1">1</span> Địa chỉ thanh
                toán</a
              >
            </li>
            <li>
              <a href="#Dia_chi_giao_hang"
                ><span class="toc_number toc_depth_1">2</span> Địa chỉ giao
                hàng</a
              >
            </li>
          </ul>
        </div>
        <h3><span id="Dia_chi_thanh_toan">Địa chỉ thanh toán</span></h3>
        <a href="edit-address" class="edit">Thêm</a>
      </header>
      <address>Bạn vẫn chưa thêm địa chỉ nào.</address>
    </div>
    {%if not addr%}
    <div class="u-column2 col-2 woocommerce-Address">
      <header class="woocommerce-Address-title title">
        <h3><span id="Dia_chi_giao_hang">Địa chỉ giao hàng</span></h3>
        <a href="edit-address" class="edit">Thêm</a>
      </header>
      <address>Bạn vẫn chưa thêm địa chỉ nào.</address>
    </div>
    {%else%}
    <div class="u-column2 col-2 woocommerce-Address">
      <header class="woocommerce-Address-title title">
        <h3><span id="Dia_chi_giao_hang">Địa chỉ giao hàng</span></h3>
        <a href="edit-address" class="edit">Sửa</a>
      </header>
      <address>{{addr|address}}</address>
      
    </div>
    {%endif%}
  </div>
</div>

{% endblock %}
{%block breadcrumb%}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5 blog-breadcrumb">
        <ol class="breadcrumb breadcrumb-arrows">
          <li><a href="">Trang chủ</a></li>
          /
          <li>Đia chỉ</li>
          /
          <li>Địa chỉ</li>
        </ol>
      </div>
{%endblock%}