{%extends 'customer/basecus.html'%}{%load static%}{%block MyAccount_content %}

<div class="woocommerce-MyAccount-content">
  <div class="woocommerce-notices-wrapper"></div>
  <p>
    Xin chào <strong>{{user}}</strong> (không phải tài khoản
    <strong>{{user}}</strong>? Hãy <a href="">thoát ra</a> và đăng nhập vào tài
    khoản của bạn)
  </p>

  <p>
    Từ trang quản lý tài khoản bạn có thể xem
    <a href="">đơn hàng mới</a>, quản lý
    <a href="">địa chỉ giao hàng và thanh toán</a>, and
    <a href="">sửa mật khẩu và thông tin tài khoản</a>.
  </p>
</div>

{%endblock%}
