{%extends 'customer/basecus.html'%}{%load static%}{%block MyAccount_content%}{%load product%}

<div class="woocommerce-MyAccount-content">
  <div class="woocommerce-notices-wrapper"></div>
  {%if invd%}
  <table
    class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table"
  >
    <thead>
      <tr>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"
        >
          <span class="nobr">Đơn hàng</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"
        >
          <span class="nobr">Ngày</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"
        >
          <span class="nobr">Tình trạng</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"
        >
          <span class="nobr">Tổng</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"
        >
          <span class="nobr">Các thao tác</span>
        </th>
      </tr>
    </thead>
    {%for x in invd%}
    <tbody>
      <tr
        class="woocommerce-orders-table__row woocommerce-orders-table__row--status-cancelled order"
      >
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number"
        >
          <a href="/"> #{{x.invoice}} </a>
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date"
        >
          <time datetime="2022-11-17T13:08:27+00:00">{{x.date}}</time>
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status"
        >
          {{x.status}}
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total"
        >
          <span class="woocommerce-Price-amount amount"
            >{{x.invd_total|price}}<span
              class="woocommerce-Price-currencySymbol"
              >₫</span
            ></span
          >
          cho {{x.count_product}} mục
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions"
        >
          <a
            href="view_invoice/{{x.invd_id}}"
            class="woocommerce-button button view"
            >Xem</a
          >
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {%else%}
  <div class="woocommerce-message woocommerce-message--info woocommerce-Message woocommerce-Message--info woocommerce-info">
		<a class="woocommerce-Button button" href="/">Tìm các sản phẩm</a>
		Bạn chưa có đơn hàng nào.	</div>
  {%endif%}
</div>

{% endblock %} 

{%block breadcrumb%}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5 blog-breadcrumb">
  <ol class="breadcrumb breadcrumb-arrows">
    <li><a href="">Trang chủ</a></li>
    /
    <li>Đơn hàng</li>
    /
    <li>Đơn hàng</li>
  </ol>
</div>
{%endblock%}
