{%extends 'base.html'%} {%block content %}

<div class="container-content">
  <div class="container-fluid">
    {%if e%}
    {%block erro%}
    <div class="woocommerce-notices-wrapper">
      <ul class="woocommerce-error" role="alert">
        <li>
          Tên người dùng không xác định. Kiểm tra lại hoặc thử địa chỉ email của
          bạn.
        </li>
      </ul>
    </div>
    {%endblock%}
    {%endif%}
    <div class="breadcrumb-shop">
      <ol class="breadcrumb breadcrumb-arrows">
        <li>
          <a href="/">Trang chủ</a>
        </li>
        /
        <li>Tài khoản</li>
        /
        <li>Đăng nhập</li>
      </ol>
    </div>
    <br />
    <div class="content-page">
      <div class="account-content">
        <div class="login-content">
          <h2>Đăng nhập</h2>
          <form action="login" class="form-login" method="POST" name="login">
            {% csrf_token %}
            <p class="form-row">
              <label for="username"> Tên tài khoản hoặc địa chỉ email </label>
              <input
                type="text"
                class="input-account input-text"
                required
                name="username"
                id="username"
              />
            </p>
            <p class="form-row">
              <label for="password"> Mật khẩu </label>
              <input
                type="password"
                class="input-account input-text"
                required
                name="password"
                id="password"
              />
            </p>
            <p class="form-row">
              <button
                type="submit"
                class="submit-account"
                name="login"
                value=""
              >
                Đăng nhập
              </button>
              <input type="checkbox" onclick="showpassword()" />Hiện mật khẩu
            </p>
            <p class="page-row">
              Chưa có tài khoản?
              <a href="register"><strong>Đăng ký</strong></a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock %}
