{%extends 'customer/basecus.html'%}{%load static%}{%block MyAccount_content%}{%load product%}
<link rel="stylesheet" href="{%static 'css/address.css'%} " />

<div class="woocommerce-MyAccount-content">
  <div class="woocommerce-notices-wrapper"></div>
  <p>
    Đơn hàng #<mark class="order-number">{{id}}</mark> đã được đặt lúc
    <mark class="order-date">17 Tháng Mười Một, 2022</mark> và hiện tại là
    <mark class="order-status">{{inv.status}}</mark>.
  </p>

  <section class="woocommerce-order-details">
    <div id="toc_container" class="no_bullets">
      <p class="toc_title">
        Nội dung trang
        <span class="toc_toggle">[<a href="#">Ẩn</a>]</span>
      </p>
      <ul class="toc_list">
        <li>
          <a href="#Chi_tiet_don_hang"
            ><span class="toc_number toc_depth_1">1</span> Chi tiết đơn hàng</a
          >
        </li>
        <li>
          <a href="#Dia_chi_thanh_toan"
            ><span class="toc_number toc_depth_1">2</span> Địa chỉ thanh toán</a
          >
        </li>
      </ul>
    </div>
    <h2 class="woocommerce-order-details__title">
      <span id="Chi_tiet_don_hang">Chi tiết đơn hàng</span>
    </h2>

    <table
      class="woocommerce-table woocommerce-table--order-details shop_table order_details"
    >
      <thead>
        <tr>
          <th class="woocommerce-table__product-name product-name">Sản phẩm</th>
          <th class="woocommerce-table__product-table product-total">Tổng</th>
        </tr>
      </thead>

      <tbody>
        {%for x in invd%}
        <tr class="woocommerce-table__line-item order_item">
          <td class="woocommerce-table__product-name product-name">
            <a href="/product={{x.product}}">{{x.product}}, {{x.size}}</a>
            <strong class="product-quantity">×&nbsp;{{x.amount}}</strong>
          </td>

          <td class="woocommerce-table__product-total product-total">
            <span class="woocommerce-Price-amount amount"
              ><bdi
                >{{x.total_price|price}}<span class="woocommerce-Price-currencySymbol"
                  >₫</span
                ></bdi
              ></span
            >
          </td>
        </tr>
        {%endfor%}
      </tbody>

      <tfoot>
        <tr>
          <th scope="row">Tổng số phụ:</th>
          <td>
            <span class="woocommerce-Price-amount amount"
              >{{invd|total}}<span class="woocommerce-Price-currencySymbol"
                >₫</span
              ></span
            >
          </td>
        </tr>
        <tr>
          <th scope="row">Tổng cộng:</th>
          <td>
            <span class="woocommerce-Price-amount amount"
              >{{invd|total}}<span class="woocommerce-Price-currencySymbol"
                >₫</span
              ></span
            >
          </td>
        </tr>
      </tfoot>
    </table>
  </section>

  <section class="woocommerce-customer-details">
    <h2 class="woocommerce-column__title">
      <span id="Dia_chi_thanh_toan">Địa chỉ thanh toán</span>
    </h2>
    <address>
      {{inv.name}}<br />{{inv.address}}<br />{{inv.city}}<br />{{inv.province}}
      <p class="woocommerce-customer-details--phone" style="margin-top:0px;margin-bottom:0px">{{inv.phone}}</p>

      <p class="woocommerce-customer-details--email" style="margin-top:0px;margin-bottom:0px">{{inv.email}}</p>
    </address>
  </section>
</div>

{%endblock%} {%block breadcrumb%}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5 blog-breadcrumb">
  <ol class="breadcrumb breadcrumb-arrows">
    <li><a href="">Trang chủ</a></li>
    /
    <li><a href="">Đơn Hàng #{{id}}</a></li>
    /
    <li><a href="">Đơn Hàng #{{id}}</a></li>
  </ol>
</div>
{%endblock%}
