.woocommerce-MyAccount-navigation {
  width: 20%;
  float: left;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
.woocommerce-MyAccount-content {
  display: inline-block;
  float: left;
  margin-left: 5%;
  width: 75%;
}
.woocommerce .col2-set,
.woocommerce-page .col2-set {
  width: 100%;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: left;
  width: 48%;
}
#toc_container {
  background: #f9f9f9;
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 1em;
  width: auto;
  display: table;
  font-size: 95%;
}
#toc_container p.toc_title {
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
#toc_container p.toc_title + ul.toc_list {
  margin-top: 1em;
}
#toc_container.no_bullets ul {
  background: 0 0;
  list-style-type: none;
  list-style: none;
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: right;
  width: 48%;
}
